<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink] = "['/']">
        <img alt="TechForum" src="/assets/images/prodapt-logo-full.png" height="45px" width="150px"/>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        
        <li *ngIf="loggedIn" [routerLinkActive] = "['active']"><a [routerLink] = "['/discuss']" [queryParams]="{ pn: 0 }"><i class="fa fa-comments" aria-hidden="true"></i> Questions</a></li>
        <li *ngIf="loggedIn" [routerLinkActive] = "['active']"><a [routerLink] = "['/blogs']" [queryParams]="{ pn: 0 }"><i class="fa fa-pencil" aria-hidden="true"></i> Blogs</a></li>
        <li *ngIf="loggedIn" [routerLinkActive] = "['active']"><a [routerLink] = "['/learn']"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Admin's Post</a></li>
        <!-- <li *ngIf="loggedIn" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/code']"><i class="fa fa-terminal" aria-hidden="true"></i> CODE</a></li> -->
      </ul>
      <ul *ngIf="!loggedIn" class="nav navbar-nav navbar-right">
        <li  [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</a></li>
      <li  [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/register']"><i class="fa fa-user-plus" aria-hidden="true"></i> REGISTER</a></li>
      </ul>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
   <li *ngIf="loggedIn" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"><i *ngIf="newNotification" class="fa fa-exclamation" aria-hidden="true"></i></i></a>
        <ul class="dropdown-menu nav-user-menu">
          <li class="notification-div" *ngFor="let notification of notificationList">
            <a (click)="notificationFunc(notification)" [routerLink]="[notification.link]" style="cursor: pointer">
              <div>
                <h5>{{notification.message}}</h5>
                <h6>
                  {{notification.date | date}}
                </h6>
              </div>
          </a>
        </li>
        <li class="dropdown-header" *ngIf="notificationList.length === 0">
          <h5>No new notifications</h5>
        </li>
        </ul>
      </li>
      <li *ngIf="loggedIn" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Hi {{user.name}} <span class="caret"></span></a>
        <ul class="dropdown-menu nav-user-menu dropdown-menu-right notification-menu">
          <li><a [routerLink] = "['/users', user.username ]"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Profile</a></li>
          <li><a [routerLink]="['./askQuestion']"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Ask A Question</a></li>
          <li><a [routerLink]="['./writeBlog']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Write a Solution</a></li>
          <li role="separator" class="divider"></li>
          <li><a [routerLink] = "['/searchPeople']"><i class="fa fa-users " aria-hidden="true"></i> Find Employee</a></li>
          <li><a [routerLink] = "['/feedback']"><i class="fa fa-comment" aria-hidden="true"></i> Contact Us</a></li>
          <li role="separator" class="divider"></li>
          <li><a style="cursor: pointer"(click)="userLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </li>
        </ul>
        
        <form *ngIf="loggedIn" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control search-input" placeholder="Search Using Tags..">
          </div> &nbsp;
          <button (click)="search()" class="btn btn-primary search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        
      </div>
    </div>
  </div>
</nav>
<br>
