html {
  margin: 0px;
  padding: 0px;
}

.load-screen {
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

.load-content img {
  margin: 50px 0px;
}

.load-screen .load-content {
  position: relative;
  color: #2c3e50;
  top: 20vh;
}

.spinner {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

nav-user-menu {
  transition: all 2s ease-in;
}

a {
  text-decoration: none !important;
}


.fa {
  margin: 0px 2px 0px 2px;
}

.load-image {
  display: none;
}

.pre-load {
  position: fixed;
  top: 50vh;
  text-align: center;
  width: 100vw;
}

.loading-quote {
  position: relative;
  left: 25vw;
  text-align: center;
  width: 50vw;
}

.go-to-top-btn {
  display: none;
  position: fixed;
  bottom: 15vh;
  right: 10vw;
  color: #dd312f ;
  font-size: 300%;
  z-index: 10;
  background-color: transparent;
}

.go-to-top-btn .fa {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
