.page-header {
  text-align: center;
}

.latest {
  border-left: 2px solid #c62828;
  min-height: 100vh;
}

.latest h4 {
  padding: 0px 0px 15px 0px;
}

.question-div, .blog-div {
  padding-bottom: 20px;
}

.question {
  margin: 10px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.27);
}

.blogs {
  margin: 10px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.27);
}

.feed h3 {
  text-align: center;
}

.feed {
  padding-bottom: 20px;
}

.deleteBtn {
  text-align: right;
}

.feed p {
  font-size: 120%;
}
