<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="/assets/css/bootstrap-material-design.css"> -->
</head>
<div class="container">
  <div class="page-header">
    <h2>Dashboard</h2>
  </div>
  <div class="row">
      <div class="col-sm-9 ">
          <div class="question-div">
            <h4 style="text-align: center">Latest Questions</h4>
            <div *ngFor='let question of questionList'>
                <aside class="topic-page topic-list blog-list forum-list">
                    <article class="well btn-group-sm clearfix">
                        <div class="topic-desc row-fluid clearfix">
                            <div class="col-sm-2 text-center publisher-wrap">
                                <img src="assets/images/avatars/{{question.avatarName}}" alt="" class="avatar img-circle img-responsive">
                                <h5><a [routerLink] = "['/users', question.username]"></a>{{question.username}}</h5>
                                <small class="online">Online</small>
                            </div>
                            <div class="col-sm-10">
                                <header class="topic-footer clearfix">
                                    <ul class="list-inline tags">
                                        <li class="closed"><a href="#">Solved</a></li>
                                    </ul>
                              
                                </header>
                               
              
                                <h4> <a [routerLink] = "['/question', question._id ]" >{{question.title}}</a></h4>
                                <div class="blog-meta clearfix">
                                    <small><a href="#">{{question.answers || 0}} Replies &nbsp;</a></small>
                                    <small>{{ question.modifiedDate | date }}</small>
                                    <small>&nbsp; in: <span *ngFor='let tag of question.tags'><a [routerLink] = "['/discuss']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}},  </a></span></small>
                                </div>
                                <br>
                                <a [routerLink] = "['/question', question._id ]" class="readmore" title="">View the topic →</a>
                            </div>
                        </div>
                      
                    </article>
                    </aside>
              </div>
          </div>
          <div class="blogs-div">
            <h4 style="text-align: center">Latest Blogs</h4>
            <div class="blogs" *ngFor="let blog of blogList">
              <p><a [routerLink] = "['/blog', blog._id]">{{blog.heading}}</a></p>
            </div>
          </div>
        </div>
    <div class="col-sm-3 latest">
      <button class="btn btn-primary btn-sm" *ngIf="editRights" [routerLink]="['/addFeed']"><i class="fa fa-plus" aria-hidden="true"></i> Add Feed</button>
      <div class="feed" *ngFor="let feed of feedList">
        <div class="deleteBtn">
          <button class="btn btn-danger btn-sm" *ngIf="editRights" (click)="deleteFeed(feed)" [routerLink]="['/addFeed']"> Delete Feed</button>
        </div>
        <h3 class="page-header">{{ feed.heading }}</h3>
        <p [innerHtml]="feed.body | tinyInput"></p>
        <h6>{{feed.date | date}}</h6>
      </div>
    </div>
  </div>
</div>















