<div id="wrap">
 <div id="main" class="container clear-top">
      <div class="row">
        <div class="btn-toolbar pull-right">
          <button (click)="editBtnFunc()" class="btn btn-edit btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit Profile</button>
          <button (click)="showBlogsFunc()" class="btn btn-edit btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> My Blogs</button>
          <button (click)="showQuestionsFunc()" class="btn btn-edit btn-sm"><i class="fa fa-question-circle" aria-hidden="true"></i> My Questions</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 page-header">
          <h3>My Profile</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3">
          <div class="col-12 col-sm-12">
            <img src="assets/images/avatars/{{ user.Display_Picture }}" class="img-responsive img-thumbnail avatar" /> 
          </div>
          <div *ngIf="!uploadImg" class="col-12 col-sm-12">
              <button (click)="uploadImgFunc()" class="btn form-submit btn-sm"><i class="fa fa-camera" aria-hidden="true"></i>
                Add/Change Profile Picture</button> &nbsp; &nbsp;
          </div>
          <div *ngIf="uploadImg" class="col-12 col-sm-12">
              <form ngNoForm action="http://{{ serverAddress }}/users/addAvatar" method="post" enctype="multipart/form-data">
                <input type="hidden" name="username" [(ngModel)]="user.username" />
                  <div class="form-control imageUpload" class="col-12 col-sm-12">
                    <input type="file" name="avatar"/>
                  </div>
                  <br />
                  <div class="form-control imageUpload" class="col-12 col-sm-12">
                    <button type="submit" class="btn btn-sm form-submit avatar-btn">Update Profile Picture</button>
                  </div>
              </form>
          </div>
        </div>
        <div class="col-12 col-sm-9">
          <div class="col-12 col-sm-6">
            <h5><span class="profile-key">Name:</span> {{user.FirstName}}</h5>
          </div>
          <div class="col-12 col-sm-6">
              <h5><span class="profile-key">TechForum Username:</span> {{user.Username}}</h5>
            </div>
          <div class="col-12 col-sm-6">
            <h5><span class="profile-key">Email:</span> {{user.Email_Id}}</h5>
          </div>
          <div class="col-12 col-sm-6">
              <h5><span class="profile-key">Date of Joining:</span> {{user.Registration_Date | date}}</h5>
          </div>
          <div class="col-12 col-sm-6">
              <h5><span class="profile-key">Account:</span> Windstream</h5>
          </div>
          <div class="col-12 col-sm-6">
              <h5><span class="profile-key">Project:</span> Telephone Number Inventory</h5>
          </div>
          <div class="col-12 col-sm-6">
              <h5><span class="profile-key">Account Status:</span> Active</h5>
          </div>
        </div>
      </div>
    </div>
  </div> 