/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#main-footer {
  margin: 40px 0px 0px 0px;
  position: relative;
  bottom: 0px;
  padding: 10px;
  border-top: 2px solid #2c3e50;
  width: 100%;
  text-align: center;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}