.blog-div {
  margin: 10px;
  border-bottom: 1px solid rgba(24, 24, 24, 0.43);
}
a {
  color: rgba(#18bb9c, 0.63);
  text-decoration: none;
}
a:hover {
  color: #0f7d68;
}
.blog p {
  margin: 30px 10px 30px 10px;
  width: 80%;
  font-size: 120%;
}

.editBtn {
  text-align: right;
}
.contentManagerBtn {
  text-align: right;
}



.profile-key {
  font-weight: bold;
}


.profileLinks {
  display: flex;
  justify-content: center;
}
.profileLinks img {
  height: 50px;
  width: 50px;
  margin: 20px;
}

.imageUpload {
  width:auto;
  height:30vh;
}

.editBtn {
  text-align: right;
}


.control-buttons {
  text-align: center;
}

.control-buttons .btn {

  margin: 20px;
}

.form-submit {
  margin-top:10px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #dd312f;
  margin-left: 10px;
  }
  
  .btn-edit{
    margin-top:20px;
    font-size: 12px;
    background-color: #dd312f;
    font-weight: 700;
    color: #fff;
  }
  
  .page-header{
    text-align: center;
  }
