<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Form</title>
  <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <div class="main">

      <section class="signup">
          <div class="container">
              <div class="signup-content">
                <h2>Update your Profile</h2>
                
                  <form class="edit-profile-form" (submit)="submitForm()">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control form-input" [(ngModel)] = "user.name" id="name" name="name" disabled required>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control form-input" [(ngModel)] = "user.email" id="email" name="email" disabled required>
                    </div>
                    <div class="form-group">
                      <label for="batch">Employee ID</label>
                      <input type="text" class="form-control form-input" [(ngModel)] = "user.batch" id="batch" name="batch">
                    </div>
                    <div class="form-group">
                      <label for="branch">Branch</label>
                      <input type="text" class="form-control form-input" [(ngModel)] = "user.branch" id="branch" name="branch">
                    </div>
                    <div class="form-group">
                      <label for="about">About</label>
                      <textarea class="form-control form-input" [(ngModel)]="user.about" id="about" name="about" placeholder="A line or two about yourself- more of a phrase than sentences"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="skills">skills and Frameworks</label>
                      <textarea class="form-control form-input" [(ngModel)]="user.skills" id="skills" name="skills" placeholder="Tell us about the skills you are famaliar with, your skillset, framsworks or launguages you work with. Eg. Web Development, NodeJs, Angular, Php, Bootstrap, C++, Java etc." ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="githubLink">Stackoverflow profile link</label>
                      <input type="text" class="form-control form-input" [(ngModel)] = "user.stackoverflowLink" id="stackoverflowLink" name="stackoverflowLink">
                    </div>
              
                    <button type="submit" class="btn form-submit btn-sm">Submit</button>
                  </form>
              </div>
          </div>
      </section>

  </div>
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>