
<div class="jumbotron ">
  <h2>Welcome to TechForum Portal</h2>
  <h4>Ask,Learn & Start Sharing!!</h4>
  <a href="#about-section" class="btn bg-primary about">ABOUT</a>
</div>

<div class="container home-content" id="about-section">
  <div class="row">
      <h3 class="test">Test</h3>
  </div>
  <div class="home-section">
    <div class="page-header quote">
      <h3>What's in TechForum</h3>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h1><i class="fa fa-comments fa-lg" aria-hidden="true"></i></h1>
        <p>
          The Questions section now gives you the power to interact with others and clear all the confusion and questions which you may have.
        </p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></h1>
        <p>
          The site is not limited to only learning and discussion. We also have something for the ones who love to share their knowlege. The blog section allowes you to write on any topic that you would like to share with others.
        </p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i></h1>
        <p>The Admin's post section will give you latest updates and notifications from the admin's side.
        </p>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-4">
        <h1><i class="fa fa-terminal fa-lg" aria-hidden="true"></i></h1>
        <p>
      The techforum portal is built with an amazing editor. This can be used to add codes, text, images and any rich text formats.
        </p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fa fa-bell fa-lg" aria-hidden="true"></i></h1>
        <p>
          The notification engine will give you regular updates on new content being added to the site.
          You would also be notified about any comments on your blogs and codes, or answers on your questions.
        </p>
      </div>
      <div class="col-sm-4">
        <h1><i class="fa fa-users fa-lg" aria-hidden="true"></i></h1>
        <p>
          Now you can now connect with other users of the website. The find people section allowes you to search poeple by their
          names and their skills. You can visit profiles of users working with technologies you wish to learn.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container sources-section">
  <div class="page-header">
    <h3>Our Sources</h3>
  </div>
  <p>
    This is the list of all the sources we have gathered our content from. Do visit these sites to get more information on the
    topics listed in the site.
  </p>
  <div class="row">
    <div class="col-sm-2 sources" *ngFor="let source of sourcesList">
      <h4><a href="{{source.link}}" target="_blank">{{source.name}}</a></h4>
    </div>
  </div>
</div> -->
<!--<div class="container team-section">
  <div class="page-header">
    <h3>Our Team</h3>
  </div>
  <p>
    Users of the site have been divided into three roles - Admin, Content Managers and Users. The admin has access to the raw database and all
    routes of the site. The admin can assign Content Managers, who can add and edit content on the dashboard, and learn section of the site.
  </p>
  <div class="row">
    <div class="col-sm-3 team" *ngFor="let member of teamList">
      <a [routerLink] = "['/users', member.username]">
        <img src="assets/images/avatars/{{member.avatarName}}" class="img-responsive img-thumbnail center-block avatar" />
        <h4>{{member.name}}</h4>
        <h4>{{member.role}}</h4>
      </a>
    </div>
  </div>
</div> -->
<div class="profileLinks">
 
</div>
