
<div class="entire-content">
  <app-navbar></app-navbar>
  <br>
  <div class="container-fluid">
    <flash-messages class="flash-messages"></flash-messages>
  </div>
  <router-outlet></router-outlet>
 
  </div>
  <app-footer></app-footer>