flash-messages {
  text-align: center;
  border-color: #1f3089;
  border-radius: 2px;
  position: fixed;
  width: 20%;
  top: 10vh;
  left: 75%;
  z-index: 20;
}

.entire-content {
  margin: 0px 0px 0px 0px;
}

.home-section {
  margin: 40px 0px;
}
