

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Form</title>
  <link rel="stylesheet" href="/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <div class="main">

      <section class="signup">
          <div class="container">
              <div class="signup-content">
                <h2>Forgot Password</h2>
<form *ngIf="!usernameEntered" class="forgot-password-form" (submit) = "submitUsernameForm()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" [(ngModel)] = "username" id="username" name="username" required>
  </div>
  <button type="submit" class="btn form-submit">Submit</button>
</form>
<div *ngIf="usernameEntered">
  <h4>Security Question: {{securityQuestion}}</h4>
  <form class="forgot-password-form" (submit) = "submitAnswerForm()">
    <div class="form-group">
      <label for="answer">Answer</label>
      <input type="text" class="form-control" [(ngModel)] = "answer" id="answer" name="answer" placeholder="Your Answer" required>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" class="form-control" [(ngModel)] = "password" id="password" name="password" placeholder="New Password" required>
    </div>
    <button type="submit" class="btn form-submit">Change Password</button>
  </form>
</div>
                  <p class="loginhere">
                      Know your password? <a [routerLink] = "['/login']" class="loginhere-link">Login here</a>
                  </p>
              </div>
          </div>
      </section>

  </div>
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>